body {
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
}

.dove {
    animation: fly 2s infinite linear;
}

@keyframes fly {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-50px);
    }
}

img {
    filter:grayscale(100%);
}
